# Core functionality - changes here should be rare!
/src/app.py                   @CyrilBaah
/src/backend/database.py      @CyrilBaah
/src/backend/routers/auth.py  @CyrilBaah

# The frontend will need refactored soon to be more object oriented.
/src/static/   @CyrilBaah
